* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-white: #fff;
    --color-grey: #ccc;
    --color-highlight: #05668D;
    --color-black: #000;
    --measure: 60ch;
    --ratio: 1.5;
    --s0: 1rem;
    --s1: calc(var(--s0)*var(--ratio));
    --s2: calc(var(--s1)*var(--ratio));
    --s3: calc(var(--s2)*var(--ratio));
    --s4: calc(var(--s3)*var(--ratio));
    --s5: calc(var(--s4)*var(--ratio));
    --s6: calc(var(--s5)*var(--ratio));
    }

$font-sans: 'Nunito', 'Helvetica', 'Arial', sans-serif;
$font-display: 'Lobster';
$bp-xm: 600px;
$bp-sm: 900px;
$bp-md: 1200px;
$bp-lg: 1500px;

@mixin line {
    @media screen and (min-width: $bp-xm) {
        position: absolute;
        content: "";
        top: 2.5rem;
        left: 1px;
        width: 3rem;
        height: .2rem;
    }
    
}

html {
    @media screen and (min-width: $bp-sm) {
        font-size: 110%;
    }
    @media screen and (min-width: $bp-lg) {
        font-size: 120%;
    }
}

body {
    font-family: $font-sans;
    color: var(--color-white);
    line-height: 1.5;
    @media screen and (min-width: $bp-md) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50vh 50vh;
    }
}

.main {
    padding: 2rem 0;
    @media screen and (min-width: $bp-xm) {
        padding: 2rem;
    }
    @media screen and (min-width: $bp-md) {
        padding: 3rem;
    }
    background: linear-gradient(180deg, #05668D 0%, #028090 100%);
    .lists {
        
        display: flex;
        align-items: flex-end;
        li {
            list-style-type: none;
        }
        .time__list {
            margin-right: 0.5rem;
            @media screen and (min-width: $bp-xm) {
                margin-left: 3rem;
            }
        }
        .price__list {
            @media screen and (min-width: $bp-xm) {
                margin-left: 3rem;
            }
        }
    }
    &__heading {
        line-height: 1.25;
        margin-bottom: 1.5rem;
        font-family: $font-display;
        font-size: var(--s1);
        position: relative;
        &::after {
            @include line;
            background-color: var(--color-white);
        }
    }
    .logo {
        font-family: $font-display;
        color: var(--color-white);
        text-decoration: none;
        display: block;
        margin-bottom: 1rem;
    }
}
.secondary {
    padding: 2rem 0;
    color: var(--color-highlight);
    @media screen and (min-width: $bp-xm) {
        padding: 2rem;
    }
    @media screen and (min-width: $bp-md) {
        padding: 3rem;
    }
    &__heading {
        font-size: var(--s1);
        font-family: $font-display;
        margin-bottom: 1.5rem;
        position: relative;
        &::after {
            @include line;
            background-color: var(--color-highlight);
        }
        
        @media screen and (min-width: $bp-md) {
            margin-bottom: 3rem;
        }
        &--2 {
            line-height: 1.25;
        }
    }
    
    &__section {
        @media screen and (min-width: $bp-lg) {
        display: grid;
        grid-template-columns: 50% 50%;
        }
        &--1 {
            
        }
        &--2 {
            .pic {
                width: 10rem;
                .img {
                    width: 100%;
                }
            }
            display: none;
            @media screen and (min-width: $bp-lg) {
                display: block;
                
            }
        }
    }
    .cta, .tel--info {
        display: block;
        font-size: .8rem;
    }
    .cta:link, .cta:visited {
        color: var(--color-white);
        background-color: var(--color-highlight);
        text-decoration: none;
        margin: 1rem 0;
        width: 15rem;
        padding: .5rem 1rem;
        font-size: var(--s1);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        margin-bottom: 1rem;
        border-radius: 3px;
        text-align: center;
        transition: color .3s, background-position .3s;
        transform-origin: center left;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #009989 50%);
        background-size: 220%;
    }
    .cta:hover, .cta:active {
        color: var(--color-white);
        transform-origin: center left;
        background-position: 100%;
    }
}

.tertiary {
    background: linear-gradient(180deg, #028090 0%, #009989 100%);
    padding: 2rem 0;
    @media screen and (min-width: $bp-xm) {
        padding: 2rem;
    }
    @media screen and (min-width: $bp-md) {
        padding: 3rem;
    }
    &__heading {
        line-height: 1.25;
        font-family: $font-display;
        margin-bottom: 1.5rem;
        position: relative;
        &::after {
            @include line;
            background-color: var(--color-white);
        }
    }
    .para {
        max-width: var(--measure);
    }
}

.map {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem 0;
    @media screen and (min-width: $bp-xm) {
        padding: 2rem 0;
    }

    &__iframe {
        margin: 0 auto;
        @media screen and (min-width: $bp-xm) {
            width: 32.5rem;
        }
    }
     
}
