:root {
    --color-white: #fff;
    --color-grey: #eee
    --measure: 60ch;
    --ratio: 1.5;
    --s-4:calc(var(--s-3)/var(--ratio)); // 0.2
    --s-3:calc(var(--s-2)/var(--ratio)); // 0.3
    --s-2:calc(var(--s-1)/var(--ratio)); // 0.444
    --s-1:calc(var(--s-0)/var(--ratio)); // 0.666
    --s0: 1rem;
    --s1: calc(var(--s0)*var(--ratio)); // 1.5
    --s2: calc(var(--s1)*var(--ratio)); // 2.25
    --s3: calc(var(--s2)*var(--ratio)); //
    --s4: calc(var(--s3)*var(--ratio));
    --s5: calc(var(--s4)*var(--ratio));
    --s6: calc(var(--s5)*var(--ratio));


}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: (--measure);
}

html, body, div, header, nav, main, footer, .main {
    max-width: none;
}



body {
    height: 100vh;
    background: linear-gradient(60.64deg, #05668D 0%, #028090 33.33%, #00A896 66.67%, #02C39A 100%);
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.main {
    padding: 1rem;

    &__list {
        &__item {
            list-style-type: none;
            &--price {
                list-style-type: none;
            }
        }
    }
}

h1 {
    font-size: 3rem;
}

.logo {
    display: block;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
}

.hidden {
    display: none;
}



.mapouter{position:relative;text-align:right;height:300px;width:300px;}
.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:300px;}

